<% title "Zmień hasło" %>

<div id="stylized" class="myform">
  <% form_for @user, :url=>change_password_user_path(@user) do |f| %>

      <h2>Zmień hasło</h2>

      <p>Postaraj się wpisać trudne do odgadnięcia.</p>

      <%= f.error_messages %>

      <%= f.label :current_password %>
      <%= f.password_field :current_password, :class=>"field" %>

      <%= f.label :password %>
      <%= f.password_field :password, :class=>"field" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class=>"field" %>

      <%= f.submit "Zmień hasło", :class=>"button" %>

      <div class="spacer"></div>
  <% end %>
</div>
