<p><%= t("mail.reset_password.hello")%> <%= @resource.email %>!</p>

<p><%= t("mail.reset_password.t1")%></p>         <%#= TODO: poprawic mailery%>

<p><%= link_to t("mail.reset_password.change_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :locale=>I18n.locale.to_s) %></p>

<p><%= t("mail.reset_password.t2")%></p>
<p><%= t("mail.reset_password.t3")%></p>
