<div class="grid_12">
<ul>
<li><%= link_to "Typy druków", printtypes_path%></li>
                    <li><%= link_to "Opcje", options_path%></li>
                    <li><%= link_to "Ceny", prices_path%></li>
                    <li><%= link_to "Papier", papers_path%></li>
                    <li><%= link_to "Formaty", formats_path%></li>
    </ul>
</div>    
