<% form_for @paper do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :printtype_id %><br />
      </p>
    <ul>
    <% Printtype.all.each do |t|%>
    <li>
            <%= check_box_tag "paper[printtype_ids][]", t.id %>
            <span><%= t.name%></span>
          </li>
          <% end%>
        </ul>

  <p><%= f.submit "Zapisz"%></p>
<% end %>
